<template>
  <div class="container text-center mt-5 mb-5">
    <div class="row">
      <div class="col"> Users </div>
      <div class="col">
        <select class="form-select"
                v-model="users.selected"
                :disabled="get_current_id > 0">

          <option disabled>Select user</option>
          <option v-for="item in users.list" :key="item"
              :value="item.id">

            {{ item.username }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col"> Forums </div>
      <div class="col">
        <select class="form-select"
                v-model="forums.selected"
                :disabled="get_current_id > 0">

          <option disabled>Select forum</option>
          <option v-for="item in forums.list" :key="item"
                  :value="item.id">

            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
            v-if="get_current_id < 0"
            type="button"
            class="btn btn-lg btn-primary w-100 mt-3"
            :class="{
              'btn-primary': create_result === 'new',
              'btn-success': create_result === 'success',
              'btn-danger': create_result === 'danger',
            }"
            @click="createForumReadTrackList()"
            :disabled="!(typeof users.selected === 'number' && typeof forums.selected === 'number')">

          Create new
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.min.css';

export default {
  name: 'ForumReadTrackList',
  components: {},
  props: {
    id: {
      type: String,
    },
  },
  data: ()=> ({
    create_result: 'new',
    users: {
      selected: 'Select user',
      list: [],
    },
    forums: {
      selected: 'Select forum',
      list: [],
    },
  }),
  mounted() {
    if (this.get_current_id > 0) this.setForumReadTrackListData();
    else {
      this.setForumListData();
      this.setUserListData();
    }
  },
  watch: {
    users: {
      deep: true,
      handler() {
        this.create_result = 'new';
      },
    },
    forums: {
      deep: true,
      handler() {
        this.create_result = 'new';
      },
    },
  },
  computed: {
    get_current_id() {
      return parseInt(this.id);
    },
  },
  methods: {
    setForumReadTrackListData() {
      let url = this.$store.state.urls.back__root + this.$store.state.urls.forum_read_track_filter + '?format=json';
      if (this.get_current_id > 0) url += `&forum_read_track_id=${this.get_current_id}`;

      fetch(url, {credentials: 'include'})
          .then((resp) => resp.json())
          .then((data) => {
            this.users.list = [data.results[0].user];
            this.users.selected = data.results[0].user.id;

            this.forums.list = [data.results[0].forum];
            this.forums.selected = data.results[0].forum.id;
          }).catch((res) => {
            console.error(res);
          });
    },
    setForumListData() {
      const url = this.$store.state.urls.back__root + this.$store.state.urls.forum;

      fetch(url, {credentials: 'include'})
          .then((resp) => resp.json())
          .then((data) => {
            this.forums.list = data;
          }).catch((res) => {
            console.error(res);
          });
    },
    setUserListData() {
      const url = this.$store.state.urls.back__root + this.$store.state.urls.user;

      fetch(url, {credentials: 'include'})
          .then((resp) => resp.json())
          .then((data) => {
            this.users.list = data;
          }).catch((res) => {
            console.error(res);
          });
    },
    createForumReadTrackList() {
      const url = this.$store.state.urls.back__root + this.$store.state.urls.forum_read_track;
      const data = {
        user: this.users.selected,
        forum: this.forums.selected,
      };

      fetch(url, {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
        credentials: 'include',
      })
          .then((resp) => {
            if (resp.ok) {
              resp.json();
            } else {
              throw new Error('Something went wrong');
            }
          })
          .then((data) => {
            this.create_result = 'success';
          }).catch((res) => {
            this.create_result = 'danger';
            console.error(res);
          });
    },
  },
};
</script>

<style scoped>

</style>
