<template>
  <div class="container text-center mt-5 mb-5">
    <div class="row">
      <div class="col ms-1">
        <table class="table table-striped table-hover" v-if="forum_read_track.list">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Форум</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in forum_read_track.list" :key="item.id"
              @click="go_to_element(item.id)">

            <th scope="row">{{ (forum_read_track.current_page - 1) * 10 +  index + 1 }}</th>
            <td>{{ item.user.username }}</td>
            <td>{{ item.forum.name }}</td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex gap-1 flex-row">
          <button
              v-if="forum_read_track.url_previous"
              type="button"
              class="btn btn-primary btn-sm"
              @click="set_page_number(forum_read_track.current_page - 1)" >
            previous
          </button>
          <button v-for="(item) in get_pages_index_array()" :key="item"
                  type="button"
                  class="btn btn-primary btn-sm"
                  :disabled="forum_read_track.current_page === item"
                  @click="set_page_number(item)">
            {{ item }}
          </button>
          <button
              v-if="forum_read_track.url_next"
              type="button"
              class="btn btn-primary btn-sm"
              @click="set_page_number(forum_read_track.current_page + 1)" >
            next
          </button>
        </div>

        <button
            type="button"
            class="btn btn-lg btn-primary w-100 mt-3"
            @click="go_to_element(-1)">

          Create new
        </button>
      </div>
      <div class="col d-flex gap-4 flex-column">
        <ul class="list-group">
          <li type="button" class="list-group-item active cursor-default" disabled>
            Форумы
          </li>
          <button
              v-if="forums.search_value"
              type="button"
              class="list-group-item list-group-item-dark"
              @click="set_search_forum_name('')">
            Очистить фильтр
          </button>
          <button
              v-for="(item) in forums.list" :key="item"
              type="button"
              class="list-group-item list-group-item-action"
              :class="{'list-group-item-success': forums.search_value === item.id}"
              @click="set_search_forum_name(item.id)">
            {{ item.name }}
          </button>
        </ul>

        <ul class="list-group">
          <li type="button" class="list-group-item active cursor-default" disabled>
            Пользователи
          </li>
          <button
              v-if="users.search_value"
              type="button"
              class="list-group-item list-group-item-dark"
              @click="set_search_user_name('')">
            Очистить фильтр
          </button>
          <button
              v-for="(item) in users.list" :key="item"
              type="button"
              class="list-group-item list-group-item-action"
              :class="{'list-group-item-success': users.search_value === item.id}"
              @click="set_search_user_name(item.id)">
            {{ item.username }}
          </button>
        </ul>
      </div>
    </div>

  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.min.css';

export default {
  name: 'ForumReadTrackList',
  components: {},
  data: ()=> ({
    forum_read_track: {
      url_previous: undefined,
      url_next: undefined,
      count_elem: 0,
      current_page: 1,
      list: [],
    },
    users: {
      search_value: '',
      list: [],
    },
    forums: {
      search_value: '',
      list: [],
    },
  }),
  mounted() {
    this.setForumReadTrackListData();
    this.setForumListData();
    this.setUserListData();
  },
  computed: {
    get_pagination_count() {
      return this.$store.state.pagination_count;
    },
    get_current_route_path() {
      return this.$route.path;
    },
  },
  methods: {
    get_pages_index_array() {
      return [
        ...new Array(Math.floor(this.forum_read_track.count_elem / this.get_pagination_count + 2)).keys(),
      ].slice(1);
    },
    set_page_number(index) {
      this.forum_read_track.current_page = index;
      this.setForumReadTrackListData();
    },
    set_search_user_name(id) {
      if (this.users.search_value === id) return false;
      this.users.search_value = id;
      this.set_page_number(1);
    },
    set_search_forum_name(id) {
      if (this.forums.search_value === id) return false;
      this.forums.search_value = id;
      this.set_page_number(1);
    },
    setForumReadTrackListData() {
      let url = this.$store.state.urls.back__root + this.$store.state.urls.forum_read_track_filter + '?format=json';
      if (this.forum_read_track.current_page > 1) url += `&page=${this.forum_read_track.current_page}`;
      if (this.users.search_value) url += `&user_id=${this.users.search_value}`;
      if (this.forums.search_value) url += `&forum_id=${this.forums.search_value}`;

      fetch(url, {credentials: 'include'})
          .then((resp) => resp.json())
          .then((data) => {
            this.forum_read_track.list = data.results;
            this.forum_read_track.count_elem = data['count'];
            this.forum_read_track.url_next = data.next;
            this.forum_read_track.url_previous = data.previous;
          }).catch((res) => {
            console.error(res);
          });
    },
    setForumListData() {
      const url = this.$store.state.urls.back__root + this.$store.state.urls.forum;

      fetch(url, {credentials: 'include'})
          .then((resp) => resp.json())
          .then((data) => {
            this.forums.list = data;
          }).catch((res) => {
            console.error(res);
          });
    },
    setUserListData() {
      const url = this.$store.state.urls.back__root + this.$store.state.urls.user;

      fetch(url, {credentials: 'include'})
          .then((resp) => resp.json())
          .then((data) => {
            this.users.list = data;
          }).catch((res) => {
            console.error(res);
          });
    },
    go_to_element(elemId) {
      this.$router.push(this.get_current_route_path + elemId);
    },
  },
};
</script>

<style scoped>

</style>
